@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f5;
  color: #111;
}

.dark body {
  background-color: #0b0b0b;
  color: #eaeaea;
}
